<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-preferences-heading" jhiTranslate="twentyOnePointsApp.preferences.home.createOrEditLabel">Create or edit a Preferences</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twentyOnePointsApp.preferences.weeklyGoal" for="field_weeklyGoal">Weekly Goal</label>
                    <input type="number" class="form-control" name="weeklyGoal" id="field_weeklyGoal"
                           formControlName="weeklyGoal"/>
                    <div *ngIf="editForm.get('weeklyGoal')!.invalid && (editForm.get('weeklyGoal')!.dirty || editForm.get('weeklyGoal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weeklyGoal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weeklyGoal')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 10 }">
                            This field should be at least 10.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weeklyGoal')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 21 }">
                            This field cannot be more than 21.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('weeklyGoal')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twentyOnePointsApp.preferences.weightUnits" for="field_weightUnits">Weight Units</label>
                    <select class="form-control" name="weightUnits" formControlName="weightUnits" id="field_weightUnits">
                        <option value="KG">{{ 'twentyOnePointsApp.Units.KG' | translate }}</option>
                        <option value="LB">{{ 'twentyOnePointsApp.Units.LB' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('weightUnits')!.invalid && (editForm.get('weightUnits')!.dirty || editForm.get('weightUnits')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('weightUnits')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twentyOnePointsApp.preferences.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
